<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manual Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap" rel="stylesheet">
</head>
<body style="font-family: 'Cinzel', serif;">
    <div style="border-bottom:black 2px solid;text-align: center;">
        <h1>Device#1337 Manual Page</h1>
    </div>
    <br>
    {% for SubDict,Value in Main.items %}
        <div style="text-align: center;">
        <h2 style="border-bottom:black 2px solid;display: block;text-align: center;width:10em">  {{ SubDict }}</h2>
        <ul style="float: left;font-size: 1.5em;text-align: left;">
        {% for InnerDict in Value %}
            {% if "Model" in InnerDict %}
                <li>Model: {{  InnerDict.Model}}</li>
                <li>Instructions: {{  InnerDict.Instructions }}</li>
            {% else %}
                <li>Model: {{   InnerDict.Real_Model}}</li>
                <li>Instructions: {{  InnerDict.Instructions }}</li>
            {% endif %}
        {% endfor %}
        </ul>
        </div>
        <br>
    {% endfor %}

</body>
</html>
